# Enable URL rewriting
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the request is for index.html, do nothing
  RewriteRule ^index\.html$ - [L]

  # If the requested file or directory does not exist...
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # ...then redirect all requests to index.html
  RewriteRule . /index.html [L]
</IfModule>